* {
    box-sizing: border-box;

}

body {
    background-color: rgb(240, 239, 231);
    background-size: cover;
    /*background-image: linear-gradient(to right, darkorange , pink);*/
    background-position: center;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding: 0;

}

header {
    /*background-color: darkorange;*/
    background-image: linear-gradient(to right, gray, darkorange);
    color: white;
    padding: 10px;
    text-align: center;


}

h1:hover {
    color: gold;
}

.header {
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: center;
    text-shadow: 2px 2px 4px gold;
}

nav {
    /*background-color: #CD5C5C;*/
    background-image: linear-gradient(to right, gray, darkorange);
    color: white;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    font-weight: bold;
    margin: 0 15px;
    text-decoration: none;

}


nav a:hover {
    color: #FF8C00;
}

h2 {
    text-align: center;
}

.info {
    text-align: center;

}

footer {

    background-image: linear-gradient(to right, gray, darkorange);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    line-height: 1;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: pink;
    font-size: 3rem;
}